h1 {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 0em;
  letter-spacing: -0.08em;
  font-feature-settings: 'ss01';
  text-transform: lowercase;
  color: var(--secondary-color);
}

h2 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: var(--secondary-color);
}

h3 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.info-text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.07em;
  text-transform: lowercase;
  color: var(--secondary-text-color);
}

.warning-text {
  color: var(--err-status);
}

.button-text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75em;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.highlight {
  color: var(--main-color);
}

.secondary-highlight {
  color: var(--secondary-color);
}