.Dashboard {
  padding: 50px 70px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-rows: 260px;
  gap: 25px
}

.Dashboard>div {
  max-width: 600px;
}