@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body, p, div, h1, h2, h3, span, ul, ol, li, hr {
    @apply m-0 p-0;
  }

  body {
    @apply font-roboto text-sm/5 font-normal tracking-normal text-txt-clr antialiased;
  }

  h1 {
    @apply font-robotoLogo text-xl/none font-semibold tracking-tighter lowercase whitespace-nowrap text-scndry-clr;
  }

  h2 {
    @apply text-lg/5 font-medium tracking-tight capitalize whitespace-nowrap text-scndry-clr;
  }

  h3 {
    @apply text-lg/3 font-normal tracking-tight capitalize whitespace-nowrap text-scndry-txt-clr;
  }
}

@layer components {
  .dashed-border {
    
    background-image: repeating-linear-gradient(0deg, #b1b1b1, #b1b1b1 11px, transparent 11px, transparent 22px, #b1b1b1 22px), repeating-linear-gradient(90deg, #b1b1b1, #b1b1b1 11px, transparent 11px, transparent 22px, #b1b1b1 22px), repeating-linear-gradient(180deg, #b1b1b1, #b1b1b1 11px, transparent 11px, transparent 22px, #b1b1b1 22px), repeating-linear-gradient(270deg, #b1b1b1, #b1b1b1 11px, transparent 11px, transparent 22px, #b1b1b1 22px);
    background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
  }

  .dashed-border:hover {
    background-image: repeating-linear-gradient(0deg, #32ade6, #32ade6 11px, transparent 11px, transparent 22px, #32ade6 22px), repeating-linear-gradient(90deg, #32ade6, #32ade6 11px, transparent 11px, transparent 22px, #32ade6 22px), repeating-linear-gradient(180deg, #32ade6, #32ade6 11px, transparent 11px, transparent 22px, #32ade6 22px), repeating-linear-gradient(270deg, #32ade6, #32ade6 11px, transparent 11px, transparent 22px, #32ade6 22px);
  }

  .dashed-border:active {
    background-image: repeating-linear-gradient(0deg, #1a6d94, #1a6d94 11px, transparent 11px, transparent 22px, #1a6d94 22px), repeating-linear-gradient(90deg, #1a6d94, #1a6d94 11px, transparent 11px, transparent 22px, #1a6d94 22px), repeating-linear-gradient(180deg, #1a6d94, #1a6d94 11px, transparent 11px, transparent 22px, #1a6d94 22px), repeating-linear-gradient(270deg, #1a6d94, #1a6d94 11px, transparent 11px, transparent 22px, #1a6d94 22px);
  }
}